DEPLOYMENT=prod

REDIS_URL=redis://redis:6379
DATABASE_URL=postgresql://remindz:remindz@postgres:5432/remindz
BOT_TOKEN=
NGROK_AUTHTOKEN=
DUCKLING_URL=http://duckling:8000/parse
NGROK_API = http://ngrok:4040/api/tunnels



DEPLOYMENT=local

DATABASE_URL=postgresql+psycopg2://remindz:remindz@localhost:5432/remindz
REDIS_URL=redis://localhost:6379/0
BOT_TOKEN=
NGROK_AUTHTOKEN=
DUCKLING_URL=http://localhost:8001/parse
NGROK_API = http://127.0.0.1:4040/api/tunnels